/* variables */
:root {
    --border: 2px dashed black;
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Resetting style of button */

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

/* Resetting style of list and a */

ul li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}


/* Utils */


body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #23272a;
}



/* button classes */
.btn {
    cursor: pointer;
}

.btn-small {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 20px;
}

.btn-light {
    background-color: white;
}

.btn-dark {
    background-color: #23272a;
    color: white;
    margin-left: 20px;
}

.btn-big {
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 25px;
}

.btn-lilla {
    background-color: #8ea1e1;
    color: white;
    
}

/* background colors */

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: #f6f6f6;
}

/* header */

header {
    background-color: #255ee9;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    width: 65%;
    min-height: 60%;
    font-size: 22px;
    align-items: center;
    padding: 0 50px;
}

.small-header-box {
    flex-basis: 20%;
}

.large-header-box {
    flex-grow: 1;
    
}



/* testo */

#discord-logo {
    margin-top: 10px;
}

nav :nth-child(2) {
    text-align: center;
    
}
nav :nth-child(3) {
    text-align: right;
    
}

header ul {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    padding: 0 80px;
}

/* hero container */

.hero-image-container {
    background-image: url(img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    /* background-color: violet; */
    height: 60%;
    /* border: var(--border); */
    width: 40%;
    text-align: center;
    color: white;

}

.hero-image h1 {
    font-size: 55px;
    margin-bottom: 40px;
}

.hero-image p {
    font-size: 20px;
    line-height: 30px;
}

.hero-buttons-container {
    margin-top: 30px;
}

/* main content */

.section {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #23272a;
}



/* main boxes */

.main-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    padding: 50px 0;
}

.main-box {
    min-height: 100%;
    /* border: var(--border); */
}


.main-box.main-box-large {
    /* background-color: dodgerblue; */
    flex-basis: 60%;
    padding: 50px;
    
}

.main-box.main-box-small {
    /* background-color: pink; */
    flex-basis: 40%;
    padding: 50px;
    
}

.main-box h2 {
    font-size: 48px;
    margin-top: 30px;
}

.main-box p {
    font-size: 20px;
    margin-top: 1.5rem;
}

/* green section */

.large-section {
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box.main-box-extra-large {
    /* background-color: forestgreen; */
    flex-basis: 100%;
    text-align: center;
}

#big-item {
    height: 700px;
}

.stars-container {
    font-size:30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stars-container span {
    background-image: url(img/stars.svg);
    background-size: contain;
    padding: 20px 50px;
    background-repeat: no-repeat;
    
}

/* footer */

footer {
    height: 700px;
    background-color: #23272a;
    color: white;
}

/* footer top */

.footer-top {
    height: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 50px 0;
    width: 65%;
}

.footer-top-box {
    min-height: 100%;
    padding: 60px;
}

.footer-top-box-small {
    flex-basis: 30%;
    /* background-color: lightcoral; */
}

.footer-top-box-large {
    flex-basis: 70%;
    /* background-color: lightseagreen; */
    display: flex;
    justify-content: space-evenly;

}

.footer-nav-col {
    /* border: 2px dashed white; */
    flex-basis: 25%;
}

/* contenuto del nav */

/* small col */

.footer-top-box h4 {
    color: #7289da;
    
}

.footer-top-box-small h4 {
   font-size: 32px;
   margin-bottom: 1.5rem;
    
}

.footer-top-box-small img {
    width: 25px;
    vertical-align: middle;
}

.footer-top-box-small i {
    font-size: 10px;
    vertical-align: middle;
}

.icons-container {
    margin-top: 1.2rem;
    display: flex;
    gap: 20px;
}

.icons-container i {
    font-size: 20px;
}

/* big col */

.footer-top-box-large ul li, .footer-top-box-large h4 {
    padding: 7px 0;
}


/* divisore */

.divisor {
    height: 1px;
    border: 1px solid #4a5882;
    width: 59%;
    margin: 0 auto;
}

/* footer bottom */

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 17%;
    padding: 35px 0 90px 0;
    background-color: #23272a;
}

.footer-bottom-logo-button {
    /* background-color: aquamarine; */
    width: 65%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo-button {
    /* background-color: pink; */
    /* border: var(--border); */
    padding: 5px;
    font-size: 22px;
}